

html {
  max-width: none;
  height: 100%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.loader {
  
  animation: spin 4s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  display: flex;
  margin: auto;
  overflow:hidden;
  img {
    height: 15%;
    width: 15%;
    margin: auto;
  overflow:hidden;

  }

  div {
    width: fit-content;
    height: fit-content;
    overflow:hidden;

  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.content {
  width: 100%;

  img {
    max-width: 50%;
    max-height: 50%;
  }
}




h1, h2 {
  width: fit-content;
}

.div-ld {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  margin: auto;
}