

.com-line {
        width: 90%; /* Adjust as needed */
        height: 1px;
        background-color: black;
        display: inline-block; /* Display inline */
        vertical-align: middle; /* Align vertically with text */
        margin-right: 10px; /* Adjust spacing */
        margin: auto;
}

.flex-row {
    display: flex;
    flex-direction: column;
    h2 {
        margin: 10px;
        margin-left: 20%;
        padding: 10px;
        color: #444444;
        padding-left: 0px;

    }

    .comment-textarea {
        margin-left: 20%;
        width: 70%;
        box-sizing: border-box;
        padding: 5px;
        background-color: #f8b296;
        border: 2px solid #8a6c93;
        border-radius: 20px;
        color: #444444;
        font-size: 1.2em;
        resize: none; /* Prevent resizing by the user */
        overflow: hidden; /* Hide overflow */
        max-height: 200px; /* Adjust as needed */
        transition: max-height 0.3s ease; /* Smooth transition */
    }

    button {
        margin-right: 10%;
        background-color: #f8b296;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        color: #444444;
        width: fit-content;
        align-self: flex-end;
        background-color: #be8ebb;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border: solid 2px #8a6c93;
        transition: border-radius 0.3s ease; /* Smooth transition for border radius */
        color: #444444;
        width: fit-content;
        align-self: flex-end;
        margin-top: 10px;
            h4 {
              height: fit-content;
              margin: 0px;
            }
          }
        button:hover {
            background-color:#8a6c93;
            cursor: pointer;
            border-radius: 50%;
            border-color: #be8ebb;
        }
}
    