
.login-container {
  max-width: 400px;
  padding: 20px;
  background-color: #f2d8c5;
  border-radius: 10px;
  flex-direction: column;
  height: 90vh;
  display: flex;
  justify-content: center;
  justify-self: center;
  margin: auto;
  color: #444444;

  .login-form {
    text-align: center;
  }
  
  .login-form h1 {
    margin-bottom: 40px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: flex;
    align-self: flex-start;
    margin-bottom: 5px;
    margin-left: 30px;
  }
  
  .form-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid #8a6c93;
    border-radius: 5px;
    background-color: #b4a092;
  }
  
  .logbut {
      background-color: #be8ebb;
      padding: 5px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border: solid 2px #8a6c93;
  
      color: #444444;
      width: fit-content;
      align-self: flex-end;
      transition: border-radius 0.3s ease; 
      margin-right: 25px;
    h4 {
      height: fit-content;
      margin: 0px;
    }
  }
  .logbut:hover {
    background-color:#8a6c93;
    cursor: pointer;
    border-radius: 50%;
    border-color: #be8ebb;
  }
  p {
    margin-top: 15px;
  }
  
  p a {
    color: #8a6c93;
    text-decoration: none;
  }
  
  .return {
    color: #8a6c93;
  }

  .return:hover {
    text-decoration: underline;
  }
  
  p a:hover {
    text-decoration: underline;
  }
}

a {
  text-decoration: none;
}
